{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'upload_event.js') }}"></script>
<script>
	var events = {{events|tojson}}
	var current_id = {{current_id|tojson}}
</script>
   <div class="row field" id="postH">
	   	<div class="col-md-12">
	    	<p class="text-center" id="postHead">Post your event!</p>
	    </div>
   </div>
<form>
  <div class="form-row">
  	<div class="form-group col-md-6">
      <label for="groupName">Group Name:</label>
      <input type="text" class="form-control" id="groupName" placeholder="CU Climate Activists">
    </div>
    <div class="form-group col-md-6">
      <label for="emailName">Group Email:</label>
      <input type="email" class="form-control" id="emailName" placeholder="group@columbia.edu">
    </div>
  </div>
  <div class="form-group">
    <label for="eventName">Title of Event:</label>
    <input type="text" class="form-control" id="eventName" placeholder="Climate Justice Protest">
  </div>
  <div class="form-row">
  	<div class="form-group col-md-6">
      <label for="whenName">Date and Time:</label>
      <input type="text" class="form-control" id="whenName" placeholder="Dec 4 10-12 AM">
    </div>
    <div class="form-group col-md-6">
      <label for="locationName">Location of Event:</label>
      <input type="text" class="form-control" id="locationName" placeholder="Diana Center">
    </div>
  </div>
  <div class="form-group">
    <label for="descriptionEvent">Description of Event:</label>
    <br>
    <textarea rows="3" cols="100" id="descriptionEvent" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta ultrices ex sed maximus."class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="eventLink">Facebook Event Link:</label>
    <input type="text" class="form-control" id="eventLink" placeholder="http:/facebook.com/">
  </div>
  <div class="form-group">
    <label for="issue-tagSelect">Select an Issue Tag:</label>
    <select class="form-control" id="issue-tagSelect">
      <option>environmental-justice</option>
      <option>lgbtq</option>
      <option>indigenous-rights</option>
      <option>immigration</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imageLink">Link to Image:</label>
    <input type="text" class="form-control" id="imageLink" placeholder="Google Drive link...">
  </div>
  <div id="addEventDiv">
    <button type="submit" class="btn btn-primary" id="addEvent">Post Event</button>
  </div>
</form>
 {% endblock %}