{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'upload_event.js') }}"></script>
<script>
	var events = {{events|tojson}}
	var current_id = {{current_id|tojson}}
</script>
   <div class="row field">
	   	<div class="col-md-12">
	    	<p class="text-center" id="new">Upload your event!</p>
	    </div>
   </div>

   <div class="row field">
   		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Title of Event:</b> <input type="text" id="eventName" placeholder="Ex: Climate Justice Protest" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Group Name:</b> <input type="text" id="groupName" placeholder="CU Climate Activists" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Group Email:</b><br><input type="text" id="emailName" placeholder="group@columbia.edu" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Description of Event:</b> <br><textarea rows="10" cols="40" id="descriptionEvent" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta ultrices ex sed maximus."></textarea>
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Issue Tags:</b><br><input type="text" id="eventLink" placeholder="environmental-justice" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Facebook Event Link:</b><br><input type="text" id="eventLink" placeholder="http:/facebook.com/" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>

	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Link to Image:</b><br><input type="text" id="imageLink" placeholder="Google Drive link..." size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Date and Time:</b><br><input type="text" id="whenName" placeholder="Nov 30 2-4 PM" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class="col-md-3">
   		</div>
		<div class="col-md-6">
			<b>Location of Event:</b><br><input type="text" id="locationName" placeholder="Diana Center" size="30">
		</div>
		<div class="col-md-3">
   		</div>
	</div>
	<div class="row field">
		<div class = "col-md-12">
			<p class="text-center"><button type="button" id="addEvent" class="btn btn-primary button">Add Event</button></p>
		</div>
	</div>
 {% endblock %}