{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'view_all.js') }}"></script>
<script>
	var events = {{events|tojson}}
	var current_id= {{current_id|tojson}}
</script>
   <div class="row">
		<div class="col-md-12 header">
		Activist Events on Campus
		</div>
   </div>
 <div class="row">
	<div class="col-md-12">
	Filter by Issue!
	</div>
</div>
 <div class="row checkBoxes">
	<div class="col-md-3">
	<input type="checkbox" id="environmental-justice"/><label>Environmental Justice</label>
	</div>
	<div class="col-md-3">
	<input type="checkbox" id="lgbtq"/> <label>LGBTQ</label>
	</div>
	<div class="col-md-3">
	<input type="checkbox" id="indigenous-rights"/><label>Indigenous Rights</label>
	</div>
	<div class="col-md-3">
	<input type="checkbox" id="immigration"/><label>Immigration</label>
	</div>
</div>
<div id="allEvents">
</div>
 {% endblock %}